@import url(https://fonts.googleapis.com/css?family=Roboto:500);
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#submit {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  transition: all .3s;
  cursor: pointer;
}

#submit .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

#submit .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

#submit .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

#submit:hover {
  -webkit-box-shadow: 0 0 6px #4285f4;
  box-shadow: 0 0 6px #4285f4;
  transition: all .3s;
}

#submit:active {
  background: #1669f2;
}