*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(19, 19, 19);
  color: #fff;
  font-family: "Gill Sans MT", sans-serif;
  background-image: url("../img/pngtree-brown-wooden-texture-polished-vector-background-image_306870.jpg");
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.grid {
  padding: 16px;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
  grid-auto-rows: 366px;
  transition: all 2s;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/CardFlip.svg");
  background-position: center;
  background-repeat: no-repeat;
  font-size: 3rem;
  color: #fff;
  /* box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem; */
  height: 100%;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: all 500ms;
}

.box:hover {
  /* box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em; */
  transform: translateY(-3px) scale(1.01);
}

.bouncing {
  animation: bounce 0.5s ease-in-out infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.question {
  width: 100%;
  height: 100%;
  padding: 59px;
  color: black;
  text-align: justify;
  font-size: 18px;
  user-select: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  opacity: 0;
}

.question-icon {
  position: absolute;
  bottom: 26px;
  left: 53px;
  width: 2rem;
  transform: scale(0);
  transition: all 0.5s;
  cursor: pointer;
}

.osu-icon {
  position: absolute;
  bottom: 25px;
  right: 51px;
  width: 2rem;
  transform: scale(0);
  transition: all 0.5s;
  cursor: pointer;
}

.desc {
  padding: 16px;
  margin-top: 16px;
  text-align: center;
  font-size: 22px;
}

.hover-dis {
  transform: none !important;
}